
body {
    width: 85%;
    max-width: 900px;
    margin: 30px auto;
    display: flex;
    font-family: 'Poppins', sans-serif;
    background: #3A7CA5; /* fallback */
    background: linear-gradient(90deg, #3A7CA5 0%, #4DB6AC 100%);
}

/* Colonne gauche */

.left {
    width: 250px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    padding: 25px 20px;
    border-right: 1px solid #e0e0e0;
    border-radius: 10px 0 0 10px;
}

.left img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #3A7CA5;
}

.left ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 15px;
}

.left ul li {
    margin: 8px 0;
}

.left a img {
    width: 50px;
    height: 50px;
    border: none;
    margin-bottom: 0px;
}

.left a:focus {
    outline: 3px solid rgba(30,90,124,0.25);
    outline-offset: 2px;
}

.left h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #3A7CA5;
    border-bottom: 2px solid #4DB6AC;
    padding-bottom: 5px;
    display: inline-block;
}

.left p {
    margin: 0px;
    white-space: pre-line;
    line-height: 1.5;
}

.left:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease; 
}

/* Colonne droite */

.right {
    flex: 1;
    background: #fdfdfd;
    padding: 35px 40px;
    border-radius: 0 10px 10px 0;
}

.right h1 {
    color: #3A7CA5;
    font-size: 28px;
    margin: 20px 0 5px 0;
}

.right h2 {
    font-size: 18px;
    margin: 0 0 60px 0;
    color: #555;
}

.right h3 {
    color: #3A7CA5;
    font-size: 20px;
    margin-top: 30px;
    border-left: 5px solid #4DB6AC;
    padding-left: 10px;
}

.right p {
    font-size: 15px;
    margin: 10px 0;
    white-space: pre-line;
    line-height: 1.5;
}

.right ul {
    margin-top: 5px;
    margin-left: 20px;
    font-size: 15px;
}

.right:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease; 
}

